# Java compiled files
*.class
*.jar
*.war
*.nar
*.ear

# Python compiled / cache
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/

# IDE & OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db
desktop.ini
